<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="">
<head>
	<title>ProtoStats.org - Crowd-sourced mobile connectivity analytics.</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="js/jquery.jsonrpc.js"></script>
</head>
<body ng-controller="pageController">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ProtoStats.org</a>
    </div>

	<div class="collapse navbar-collapse" id="main-menu-collapse">
      <ul class="nav navbar-nav">
        <li ng-class="activeView == 'startView' ? 'active' :''" id="startView"><a href="#" ng-click="activeView = 'startView'">Start</a></li>
        <li ng-class="activeView == 'statsView' ? 'active' :''"><a href="#" id="statsView" ng-click="setActiveView('statsView')">Analytics</a></li>
		<li ng-class="activeView == 'aboutView' ? 'active' :''"><a href="#" id="aboutView" ng-click="activeView = 'aboutView'">About</a></li>
	  </ul>
	</div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div ng-hide="activeView != 'startView'">
	<p>Crowd-sourcing connectivity analytics from the world's mobile operators.</p>

	<p>Contribute data from your country and mobile operator by downloading the Android app to test your phone's and operator's connectivity.</p>
</div>

<div ng-hide="activeView != 'statsView'">
	<p>Analytics view that eventually report aggregated connectivity info like - "Websocket subscribe-receive works in 43% of Egypt".</p>
	<p>Right now it only displays the raw event data from the latest runs.</p>
	<pre>{{ eventData }} </pre>
</div>

<div ng-hide="activeView != 'aboutView'">
	<p>ProtoStats was created as holiday hacking project by William Saar to help answer questions about mobile app connectivity.</p>
	<p>The client is written in Android Java, the backend in Go, and this website uses AngularJS.</p>
	<p>Follow William on Twitter.</p>
</div>

<script type="text/javascript">
$.jsonRPC.setup({
  endPoint: '/rpc',
  namespace: ''
});

function pageController($scope) {
$scope.activeView = "startView";
$scope.eventData = "Loading...";
$scope.setActiveView = function(newView) {	
	$scope.activeView = newView;
	if ($scope.activeView == 'statsView') {
		$.jsonRPC.request('GetLatestEvents', {
			params: [],
			success: function(result) {			
				$scope.eventData = "Event\tToken\tTestID\tStep\tResult\n" + result.result;
				$scope.$digest();
			},
			error: function(result) {				
				$scope.eventData = 'Error:' + result.error;
				$scope.$digest();
			}
		});
	}
};
}
</script>
</body>
</html>